<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>demo01</title>
</head>
<body>

<div id="app">
  <h1>{{message}}</h1>
  <input type="text" v-model="message">

  <hr>

  添加：<input type="text" v-model="itemText" v-on:keyup.enter="addItem" placeholder="按回车添加">
  <br>
  搜索：<input type="text" v-model="query" placeholder="虽然关键词">
  <br>
  <input type="button" value="倒叙" v-on:click="order">

  <ul>
    <li v-for="it in todos | filterBy query">
      <span>{{it.text}}</span> - <span v-on:click="removeItem($index)">x</span>
    </li>
  </ul>
</div>

<script src="../assets/vue.js"></script>
<script src="app.js"></script>
</body>
</html>
